Repository danieleschmidt/homomorphic-llm-proxy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @security-team, @maintainers, @rust-team, @crypto-team, @python-team, @api-team, @devops-team, @platform-team, @performance-team, @docs-team, @architecture-team, @compliance-team

.github/CODEOWNERS:

# CODEOWNERS file for homomorphic-llm-proxy
# This file defines who should review changes to specific parts of the codebase
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (fallback for any code without specific owners)
* @security-team @maintainers

# Core Rust implementation
/src/ @rust-team @crypto-team @security-team
/crates/ @rust-team @crypto-team

# Cryptographic code requires additional security review
/src/crypto/ @crypto-team @security-team
/src/fhe/ @crypto-team @security-team

# Python client SDK
/python/ @python-team @api-team

# Security-critical files
/SECURITY.md @security-team
/.github/workflows/security.yml @security-team
/.bandit @security-team
/.secrets.baseline @security-team
/deny.toml @security-team

# CI/CD and infrastructure
/.github/workflows/ @devops-team @security-team
/Dockerfile* @devops-team @security-team
/docker-compose*.yml @devops-team
/k8s-manifests/ @devops-team @platform-team

# Performance and benchmarking
/benchmarks/ @performance-team @rust-team
/load-testing/ @performance-team @devops-team
/justfile @rust-team @devops-team

# Documentation
/docs/ @docs-team
/README.md @docs-team @maintainers
/ARCHITECTURE.md @architecture-team @docs-team

# Build and project configuration
/Cargo.toml @rust-team @maintainers
/pyproject.toml @python-team @maintainers
/deny.toml @security-team @rust-team

# Monitoring and observability
/observability.toml @platform-team @devops-team
/k8s-manifests/monitoring.yaml @platform-team @devops-team

# Development environment
/scripts/ @devops-team
/justfile @devops-team @rust-team
/.pre-commit-config.yaml @devops-team

# Compliance and governance
/slsa-provenance.json @security-team @compliance-team
/sbom.toml @security-team @compliance-team
/disaster-recovery.md @platform-team @security-team

feat(autonomous-sdlc): add autonomous value discovery system with backlog and metrics
  .terragon/config.yaml
  .terragon/scripts/value-discovery.sh
  .terragon/value-metrics.json
  BACKLOG.md
  docs/AUTONOMOUS_SDLC.md
  docs/workflows/value-discovery.md
Owners: @security-team, @maintainers, @docs-team

docs: complete SDLC checkpoint 1 - project foundation enhancements
  CHANGELOG.md
  docs/guides/developer-guide.md
  docs/guides/user-guide.md
Owners: @security-team, @maintainers, @docs-team

feat: complete SDLC checkpoint 2 - development environment & tooling
  .devcontainer/devcontainer.json
  package.json
Owners: @security-team, @maintainers

test: complete SDLC checkpoint 3 - enhanced testing infrastructure
  docs/testing/testing-strategy.md
  tests/fixtures/test_config.toml
  tests/fixtures/test_prompts.json
Owners: @docs-team, @security-team, @maintainers

build: complete SDLC checkpoint 4 - enhanced build & containerization
  .dockerignore
  Makefile
  docs/deployment/build-guide.md
Owners: @security-team, @maintainers, @docs-team

ops: complete SDLC checkpoint 5 - enhanced monitoring & observability
  docs/monitoring/observability-guide.md
  docs/runbooks/README.md
Owners: @docs-team

docs: complete SDLC checkpoint 6 - comprehensive workflow documentation & templates
  docs/SETUP_REQUIRED.md
  docs/workflows/examples/ci.yml
  docs/workflows/examples/release.yml
  docs/workflows/examples/security-scan.yml
Owners: @docs-team

feat: complete SDLC checkpoint 7 - comprehensive metrics & automation setup
  .github/project-metrics.json
  scripts/automation/collect-metrics.py
  scripts/automation/dependency-updates.py
Owners: @security-team, @maintainers, @devops-team

feat: complete SDLC checkpoint 8 - final integration & configuration
  CODEOWNERS
  docs/IMPLEMENTATION_SUMMARY.md
Owners: @security-team, @maintainers, @docs-team

feat: implement complete FHE LLM Proxy functionality
  Cargo.toml
  src/config.rs
  src/error.rs
  src/fhe.rs
  src/main.rs
  src/proxy.rs
  tests/test_basic_functionality.rs
Owners: @rust-team, @maintainers, @crypto-team, @security-team

feat: implement complete FHE LLM Proxy functionality (#11)
  Cargo.toml
  src/config.rs
  src/error.rs
  src/fhe.rs
  src/main.rs
  src/proxy.rs
  tests/test_basic_functionality.rs
Owners: @rust-team, @maintainers, @crypto-team, @security-team

feat(core): add comprehensive FHE proxy with scaling, monitoring, and security
  Cargo.toml
  DEPLOYMENT_GUIDE.md
  benches/fhe_operations.rs
  benches/proxy_performance.rs
  docker-compose.prod.yml
  src/fhe.rs
  src/lib.rs
  src/main.rs
  src/middleware.rs
  src/monitoring.rs
  src/proxy.rs
  src/scaling.rs
  tests/benchmarks/bench_performance.rs
  tests/integration/test_scaling.rs
  tests/security/test_security.rs
Owners: @rust-team, @maintainers, @security-team, @devops-team, @crypto-team

feat(core): add comprehensive FHE proxy with scaling, monitoring, and security (#22)
  Cargo.toml
  DEPLOYMENT_GUIDE.md
  benches/fhe_operations.rs
  benches/proxy_performance.rs
  docker-compose.prod.yml
  src/fhe.rs
  src/lib.rs
  src/main.rs
  src/middleware.rs
  src/monitoring.rs
  src/proxy.rs
  src/scaling.rs
  tests/benchmarks/bench_performance.rs
  tests/integration/test_scaling.rs
  tests/security/test_security.rs
Owners: @rust-team, @maintainers, @security-team, @devops-team, @crypto-team

refactor(fhe, scaling, tests): add client key cloning and safe decryption method usage
  src/fhe.rs
  src/scaling.rs
  tests/test_basic_functionality.rs
Owners: @rust-team, @crypto-team, @security-team, @maintainers

Add autonomous SDLC execution with enhanced FHE proxy features (#23)
  src/fhe.rs
  src/scaling.rs
  tests/test_basic_functionality.rs
Owners: @rust-team, @crypto-team, @security-team, @maintainers

feat(security): add comprehensive security module with API key management
  Cargo.toml
  README.md
  build.rs
  config.toml
  docker/Dockerfile
  docker/docker-compose.yml
  docker/entrypoint.sh
  docker/nginx.conf
  docker/prometheus.yml
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/hpa.yaml
  k8s/ingress.yaml
  k8s/namespace.yaml
  k8s/secret.yaml
  k8s/service.yaml
  src/fhe.rs
  src/lib.rs
  src/monitoring.rs
  src/proxy.rs
  src/security.rs
  tests/integration_tests.rs
Owners: @rust-team, @maintainers, @docs-team, @security-team, @crypto-team

feat(security): add comprehensive security module with API key management (#34)
  Cargo.toml
  README.md
  build.rs
  config.toml
  docker/Dockerfile
  docker/docker-compose.yml
  docker/entrypoint.sh
  docker/nginx.conf
  docker/prometheus.yml
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/hpa.yaml
  k8s/ingress.yaml
  k8s/namespace.yaml
  k8s/secret.yaml
  k8s/service.yaml
  src/fhe.rs
  src/lib.rs
  src/monitoring.rs
  src/proxy.rs
  src/security.rs
  tests/integration_tests.rs
Owners: @rust-team, @maintainers, @docs-team, @security-team, @crypto-team

feat: complete TERRAGON SDLC v4.0 autonomous execution with production-ready FHE LLM proxy
  deployment-config.yaml
  src/fhe.rs
  src/monitoring.rs
  src/proxy.rs
  src/scaling.rs
  src/security.rs
Owners: @security-team, @maintainers, @rust-team, @crypto-team

feat: complete TERRAGON SDLC v4.0 autonomous execution with production-ready FHE LLM proxy (#38)
  deployment-config.yaml
  src/fhe.rs
  src/monitoring.rs
  src/proxy.rs
  src/scaling.rs
  src/security.rs
Owners: @security-team, @maintainers, @rust-team, @crypto-team

feat: complete TERRAGON SDLC v4.0 autonomous execution with production-ready FHE LLM proxy
  benches/fhe_operations.rs
  benches/proxy_performance.rs
  build.rs
  src/config.rs
  src/error.rs
  src/fhe.rs
  src/lib.rs
  src/main.rs
  src/middleware.rs
  src/monitoring.rs
  src/proxy.rs
  src/scaling.rs
  src/security.rs
  tests/integration_tests.rs
  tests/test_basic_functionality.rs
Owners: @security-team, @maintainers, @rust-team, @crypto-team

feat: complete TERRAGON SDLC v4.0 autonomous execution with production-ready FHE LLM proxy (#41)
  benches/fhe_operations.rs
  benches/proxy_performance.rs
  build.rs
  src/config.rs
  src/error.rs
  src/fhe.rs
  src/lib.rs
  src/main.rs
  src/middleware.rs
  src/monitoring.rs
  src/proxy.rs
  src/scaling.rs
  src/security.rs
  tests/integration_tests.rs
  tests/test_basic_functionality.rs
Owners: @security-team, @maintainers, @rust-team, @crypto-team

feat(api): add comprehensive API documentation and production deployment guide
  API_DOCUMENTATION.md
  DEPLOYMENT_PRODUCTION.md
  src/error.rs
  src/fhe.rs
  src/middleware.rs
  src/proxy.rs
Owners: @security-team, @maintainers, @rust-team, @crypto-team

feat(api): add comprehensive API documentation and production deployment guide (#43)
  API_DOCUMENTATION.md
  DEPLOYMENT_PRODUCTION.md
  src/error.rs
  src/fhe.rs
  src/middleware.rs
  src/proxy.rs
Owners: @security-team, @maintainers, @rust-team, @crypto-team

feat(infrastructure): add production-ready deployment infrastructure and scripts
  CHANGELOG.md
  IMPLEMENTATION_SUMMARY.md
  PRODUCTION_CHECKLIST.md
  benchmark.sh
  deploy-production.sh
  docker-compose.performance.yml
  fix-warnings.sh
  generate-ssl-certs.sh
  healthcheck.sh
  load-test.js
  monitoring/grafana/dashboards/dashboard.yml
  monitoring/grafana/datasources/prometheus.yml
  monitoring/prometheus.yml
  nginx/nginx.conf
  performance-tuning.toml
  src/fhe.rs
  src/middleware.rs
  src/proxy.rs
  src/scaling.rs
  terraform/main.tf
  terraform/outputs.tf
  terraform/variables.tf
Owners: @security-team, @maintainers, @devops-team, @rust-team, @crypto-team

feat(infrastructure): add production-ready deployment infrastructure and scripts (#44)
  CHANGELOG.md
  IMPLEMENTATION_SUMMARY.md
  PRODUCTION_CHECKLIST.md
  benchmark.sh
  deploy-production.sh
  docker-compose.performance.yml
  fix-warnings.sh
  generate-ssl-certs.sh
  healthcheck.sh
  load-test.js
  monitoring/grafana/dashboards/dashboard.yml
  monitoring/grafana/datasources/prometheus.yml
  monitoring/prometheus.yml
  nginx/nginx.conf
  performance-tuning.toml
  src/fhe.rs
  src/middleware.rs
  src/proxy.rs
  src/scaling.rs
  terraform/main.tf
  terraform/outputs.tf
  terraform/variables.tf
Owners: @security-team, @maintainers, @devops-team, @rust-team, @crypto-team

feat: autonomous SDLC v4.0 enhancement with production-grade robustness and scaling
  Cargo.toml
  src/error.rs
  src/fhe.rs
  src/health.rs
  src/lib.rs
  src/performance.rs
  src/scaling.rs
  src/security.rs
  src/validation.rs
  tests/integration_tests.rs
Owners: @rust-team, @maintainers, @crypto-team, @security-team

feat: autonomous SDLC v4.0 enhancement with production-grade robustness and scaling (#45)
  Cargo.toml
  src/error.rs
  src/fhe.rs
  src/health.rs
  src/lib.rs
  src/performance.rs
  src/scaling.rs
  src/security.rs
  src/validation.rs
  tests/integration_tests.rs
Owners: @rust-team, @maintainers, @crypto-team, @security-team

feat(deployment): add production-ready deployment infrastructure and tests
  FINAL_IMPLEMENTATION_SUMMARY.md
  RESEARCH_VALIDATION.md
  deployment/README.md
  deployment/aws/deploy.sh
  deployment/aws/terraform/iam.tf
  deployment/aws/terraform/main.tf
  deployment/aws/terraform/outputs.tf
  deployment/aws/terraform/variables.tf
  deployment/docker-compose.production.yml
  tests/integration/test_end_to_end.rs
  tests/load/test_load_testing.rs
  tests/security/test_security_comprehensive.rs
  tests/unit/test_fhe.rs
Owners: @security-team, @maintainers

feat(deployment): add production-ready deployment infrastructure and tests (#46)
  FINAL_IMPLEMENTATION_SUMMARY.md
  RESEARCH_VALIDATION.md
  deployment/README.md
  deployment/aws/deploy.sh
  deployment/aws/terraform/iam.tf
  deployment/aws/terraform/main.tf
  deployment/aws/terraform/outputs.tf
  deployment/aws/terraform/variables.tf
  deployment/docker-compose.production.yml
  tests/integration/test_end_to_end.rs
  tests/load/test_load_testing.rs
  tests/security/test_security_comprehensive.rs
  tests/unit/test_fhe.rs
Owners: @security-team, @maintainers

feat: complete autonomous SDLC v4.0 with production-ready global deployment
  Cargo.toml
  Dockerfile.multi-region
  PRODUCTION_DEPLOYMENT.md
  config.toml
  docker-compose.prod.yml
  locales/de.json
  locales/en.json
  locales/es.json
  locales/fr.json
  locales/ja.json
  locales/zh.json
  scripts/deploy-global.sh
  scripts/health-check.sh
  src/config.rs
  src/error.rs
  src/fhe.rs
  src/health.rs
  src/i18n.rs
  src/lib.rs
  src/main.rs
  src/middleware.rs
  src/performance.rs
  src/proxy.rs
  src/validation.rs
Owners: @rust-team, @maintainers, @devops-team, @security-team, @crypto-team

feat: complete autonomous SDLC v4.0 with production-ready global deployment (#47)
  Cargo.toml
  Dockerfile.multi-region
  PRODUCTION_DEPLOYMENT.md
  config.toml
  docker-compose.prod.yml
  locales/de.json
  locales/en.json
  locales/es.json
  locales/fr.json
  locales/ja.json
  locales/zh.json
  scripts/deploy-global.sh
  scripts/health-check.sh
  src/config.rs
  src/error.rs
  src/fhe.rs
  src/health.rs
  src/i18n.rs
  src/lib.rs
  src/main.rs
  src/middleware.rs
  src/performance.rs
  src/proxy.rs
  src/validation.rs
Owners: @rust-team, @maintainers, @devops-team, @security-team, @crypto-team

feat(deployment): add production deployment setup with Docker, k8s, and scripts
  config/fhe-proxy.toml
  docker/Dockerfile.production
  docker/docker-compose.production.yml
  k8s/deployment.yaml
  scripts/deploy.sh
  src/fhe.rs
  src/health.rs
  src/monitoring.rs
  src/performance.rs
  src/scaling.rs
  src/security.rs
  src/validation.rs
Owners: @security-team, @maintainers, @devops-team, @rust-team, @crypto-team

feat(deployment): add production deployment setup with Docker, k8s, and scripts (#49)
  config/fhe-proxy.toml
  docker/Dockerfile.production
  docker/docker-compose.production.yml
  k8s/deployment.yaml
  scripts/deploy.sh
  src/fhe.rs
  src/health.rs
  src/monitoring.rs
  src/performance.rs
  src/scaling.rs
  src/security.rs
  src/validation.rs
Owners: @security-team, @maintainers, @devops-team, @rust-team, @crypto-team

feat(fhe-proxy): complete autonomous SDLC for FHE LLM Proxy v4.0
  AUTONOMOUS_SDLC_EXECUTION_COMPLETE.md
  basic_test.rs
  config/production.toml
  k8s/production-deployment.yaml
  src/fhe.rs
  src/proxy.rs
  src/validation.rs
  tests/basic_functionality.rs
  tests/integration_test.rs
Owners: @security-team, @maintainers, @rust-team, @crypto-team

feat(fhe-proxy): complete autonomous SDLC for FHE LLM Proxy v4.0 (#50)
  AUTONOMOUS_SDLC_EXECUTION_COMPLETE.md
  basic_test.rs
  config/production.toml
  k8s/production-deployment.yaml
  src/fhe.rs
  src/proxy.rs
  src/validation.rs
  tests/basic_functionality.rs
  tests/integration_test.rs
Owners: @security-team, @maintainers, @rust-team, @crypto-team

feat(autonomous-sdlc): add autonomous SDLC v4.0 with security, performance, and deployment
  AUTONOMOUS_SDLC_REPORT.md
  Cargo.toml
  deployment/Dockerfile.production
  deployment/docker-compose.prod.yml
  deployment/production.yaml
  src/lib.rs
  src/performance_optimized.rs
  src/security_enhanced.rs
Owners: @security-team, @maintainers, @rust-team, @crypto-team

feat(autonomous-sdlc): add autonomous SDLC v4.0 with security, performance, and deployment (#51)
  AUTONOMOUS_SDLC_REPORT.md
  Cargo.toml
  deployment/Dockerfile.production
  deployment/docker-compose.prod.yml
  deployment/production.yaml
  src/lib.rs
  src/performance_optimized.rs
  src/security_enhanced.rs
Owners: @security-team, @maintainers, @rust-team, @crypto-team

feat(deployment): add comprehensive deployment orchestration system
  benches/performance_bench.rs
  src/deployment.rs
  src/fhe.rs
  src/global_scaling.rs
  src/i18n.rs
  src/lib.rs
  src/observability.rs
  src/performance_optimized.rs
  src/proxy.rs
  src/resilience.rs
  src/security.rs
  src/security_enhanced.rs
  src/validation.rs
  tests/basic_functionality.rs
  tests/integration_test.rs
Owners: @security-team, @maintainers, @rust-team, @crypto-team

feat(deployment): add comprehensive deployment orchestration system (#52)
  benches/performance_bench.rs
  src/deployment.rs
  src/fhe.rs
  src/global_scaling.rs
  src/i18n.rs
  src/lib.rs
  src/observability.rs
  src/performance_optimized.rs
  src/proxy.rs
  src/resilience.rs
  src/security.rs
  src/security_enhanced.rs
  src/validation.rs
  tests/basic_functionality.rs
  tests/integration_test.rs
Owners: @security-team, @maintainers, @rust-team, @crypto-team

feat(performance_scaling): add advanced performance scaling with ML-based optimizations
  src/error.rs
  src/fhe.rs
  src/global_config.rs
  src/lib.rs
  src/performance_optimized.rs
  src/performance_scaling.rs
Owners: @rust-team, @crypto-team, @security-team
